.anime-info {
    display: flex;
    flex-direction: row;
}

.anime-info-container{
    /* height: 100vh; */
    width: 70%;
    margin: 6rem auto;
}

.container-personajes{
    display: flex;
    flex-wrap: wrap;
}

.right-info{
    margin: 1rem;
}

.container-stadistics{
    display: flex;
    justify-content: space-between;
}