.anime-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
    text-align: center;
}

.footer-container{
    width: 100%;
    background-color: #0a141d;
}

.reviews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

