.anime-container {
    margin-top: 6rem;
    width: 70%;
    margin: 6rem auto;
}

.footer-container {
    width: 100%;
    background-color: #0a141d;
}


.reviews-container {
    margin-top: 6rem;
    width: 70%;
    margin: 6rem auto;
}